* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Courier New', Courier, monospace;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(252, 252, 252, 0.942);
  box-shadow: 0px 2px 4px rgba(8, 0, 0, 0.933);
  z-index: 100; /* Ensure the header is on top */
}

/* Target the button with class 'fav_header' inside the header */
.header .fav_header {
  /* Your custom styles for the button here */
  background-color:  rgba(13, 39, 157, 0.933);
  color: white;
  margin-right: 15px;
  margin-bottom: 10px;
  width: auto;
  /* border: 4px solid #0a0962d6; */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  color: white;
  background-color: rgba(8, 0, 0, 0.933);
  padding: 10px 0;
  text-align: center;
  z-index: 100; /* Ensure the footer is on top */
}

.logo {
  width: 150px;
  height: 50px;
}


/* .book-list {
  padding-top: 12vh; 
  padding-bottom: 8vh; 
  min-height: 83vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
} */

.book-list {
  padding-top: 15vh; 
  padding-bottom: 8vh; 
  min-height: 83vh;
  width: 100%;
  display: flex; 
  align-items: center; 
  overflow-x: auto; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

/* Hide the scrollbar for Webkit browsers */
.book-list::-webkit-scrollbar {
  display: none;
}

img {
  margin-top: 15px;
  width: 300px;
  height: 400px;
}

/* edit delete icons */
.book-header {
  position: relative;
  display: flex;
}

.icon-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  color: red;
}

/* Each book container within the row */
.book {
  flex: 0 0 33.33%; /* Equal width for each column */
  padding: 0 8px; /* Add spacing between books */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px; 

  width: 300px;
  padding: 10px;
  background-color: white;
  border: 3px solid #0a0962d6;
  border-radius: 10px;
  cursor: pointer;
}

/* BookDetails.css */
.book-details-container {
  margin-top: 10%;
}

.book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrollbar if content overflows */
  height: calc(100vh - 120px); /* Adjust the height to leave space for header and footer */
}

.title {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.image-container {
  margin-top: 20px;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.details {
  margin-top: 40px;
  text-align: center;
}

.details p{
  font-family: 'Times New Roman';
  font-size: 16px;
  padding-bottom: 30px;

}

.details h2 {
  background-color: rgba(13, 39, 157, 0.933);
  color: white;
  margin-bottom: 5px;
}

.add-book {
  background-color: red; /* Set the background color to red */
  color: white; /* Set the text color to white */
}